Robocam-FullSolution/ClientApp/node_modules
Robocam-FullSolution/ClientApp/build
Robocam-FullSolution/bin
Robocam-FullSolution/obj
Robocam-FullSolution/appsettings.Development.json
Robocam-FullSolution/appsettings.json
Robocam-FullSolution/Robocam-FullSolution.csproj.user
Robocam-FullSolution/Robocam-FullSolution.csproj
packages/
DesktopAppUI/bin
DesktopAppUI/obj
.vs/