.header {

    &__container {
        display: flex !important;
        flex-direction: row !important;
        background-color: $color-primary !important;
    }

    &__button {
        color: $color-white !important;
        font-size: 2rem !important;
        padding: 1.5rem 2.5rem !important;
    }

    a {
        text-decoration: none;
        display: flex;

        &.active {
            background-color: #005982;
        }
    }

    svg {
        width: 2.4rem;
        height: 2.4rem;
    }
}